ion-card-title {
    text-align: center;
 }
ion-card {
    text-align: center;
}

ion-item .center {
    text-align: center;
}

h1 {
    text-align: center;
}

ion-title {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--ion-color-step-150, #d7d8da);
}