<app-header titulo="Categories List"></app-header>


<ion-content class="ion-padding">
  <ng-container *ngIf="username">
    <ion-grid>
      <ng-container *ngFor="let c of categoriesData">
        <ion-row>
          <ion-col size="4">
            <ion-avatar>
              <ion-img [src]="c.image"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="6">
            <br>
            <h4>{{ c.name }}</h4>
          </ion-col>
          <ion-col>
            <ion-button color="warning" size="small" routerLink="/admin/category-edit/{{c.id}}">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small" (click)="delete(c)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <hr>
      </ng-container>
    </ion-grid>
  </ng-container>
  <ion-button routerLink="/admin/category-create" expand="block">Agregar Categoría</ion-button>
</ion-content>