<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" color="success" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="ion-justify-content-center">
      <ion-avatar><ion-img onclick="location.href='/home'" src="/assets/Logo3.png"></ion-img></ion-avatar>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-capitalize">{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuPrincipal" color="success"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>