<app-header titulo="About"></app-header>

<ion-content>

    <div class="bg">
        <img src="/assets/about/avatar.png" alt="sdf">
        <h2>Kevin Nava</h2>
    </div>

    <div class="ion-padding body">
        <p>Esta aplicación ha sido desarrollada para el trabajo de la asignatura SGE.</p>
        <hr>
        <ion-chip href="https://github.com/thekevinava/sge-ionic-PeliSeries" color="dark" button>
            <ion-icon name="logo-github"></ion-icon>
            <ion-label>GitHub</ion-label>
        </ion-chip>
    </div>
</ion-content>