<app-header titulo="Series List"></app-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="username">
    <ion-grid>
      <ng-container *ngFor="let s of seriesData">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="3">
            <ion-img [src]="s.images[0]"></ion-img>
          </ion-col>
          <ion-col size="4">
            <h4>{{s.title}}</h4>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col>
                <ion-button color="warning" size="small" routerLink="/admin/series-edit/{{s.id}}">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" size="small" (click)="delete(s)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button color="tertiary" size="small" routerLink="/admin/comments/{{s.id}}">
                  <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="verdecito" size="small" href="/series/{{s.slug}}">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>




          </ion-col>
        </ion-row>
        <hr>
      </ng-container>
    </ion-grid>
  </ng-container>
  <ion-button routerLink="/admin/series-create" expand="block">Agregar Serie</ion-button>

</ion-content>