<app-header titulo="{{categoria?.name}}"></app-header>
<ion-content>
    <ion-item *ngFor="let s of seriesFinal">
        <ion-card style="width: 100%">
            <ion-img [src]="s.images[0]"></ion-img>
            <ion-card-header>
                <ion-card-title color="warning">{{ s.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ng-container *ngFor="let cat of s.categories;">
                    <ion-chip *ngIf="mismaCategoria(cat)" routerLink="/categories/{{slug}}" color="danger">
                        {{ cat }}
                    </ion-chip>
                </ng-container>
                <ion-button href="/series/{{s.slug}}"  color="verdecito" shape="round" strong="true" expand="block">Ir</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más series...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>