<ion-header>
  <ion-toolbar>
    <ion-title color="success">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menuPrincipal" color="success"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let s of items">
      <ion-card style="width: 100%">
        <ion-img [src]="s.images[0]"></ion-img>
        <ion-card-header>
          <ion-card-title color="warning">{{ s.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngFor="let cat of s.categories;">
            <ion-chip *ngIf="mismaCategoria(cat)" routerLink="/categories/{{slug}}" color="success">
              {{ cat }}
            </ion-chip>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más series...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>