<ion-menu menuId="menuPrincipal" side="end" contentId="principal">
  <ion-header>
    <ion-toolbar color="verdecito">
      <!-- <ion-title>Menu Principal</ion-title> -->
      <ion-img src="/assets/logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-list-header>Pages</ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let c of componentes">
        <ion-item [routerLink]="c.redirectTo" routerLinkActive="selected" detail>
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ng-container *ngIf="!loggedIn">
      <ion-list>
        <ion-list-header>User</ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/login" routerLinkActive="selected" detail>
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="loggedIn">
      <ion-list>
        <ion-list-header>User</ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/admin/home" routerLinkActive="selected" detail>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Admin Panel</ion-label>
          </ion-item>
          <ion-item routerLink="/admin/series-list" routerLinkActive="selected" detail>
            <ion-icon slot="start" name="film-outline"></ion-icon>
            <ion-label>Listado Series</ion-label>
          </ion-item>
          <ion-item routerLink="/admin/series-create" routerLinkActive="selected" detail>
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Agregar Serie</ion-label>
          </ion-item>
          <ion-item (click)="logout()" detail>
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ng-container>

    <ion-list lines="none">
      <ion-list-header>Categories</ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let d of categorias">
        <ion-item [routerLink]="'categories/'+d.slug" routerLinkActive="selected" detail>
          <ion-avatar slot="start">
            <ion-img [src]="d.image"></ion-img>
          </ion-avatar>
          <ion-label>{{ d.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>