<app-header titulo="Create a Category"></app-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="username">
    <form #createForm="ngForm">
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input [(ngModel)]="data.name" name="titulo" type="text" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Slug (/categories/category)</ion-label>
        <ion-input [(ngModel)]="data.slug" name="slug" type="text" required></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Image (url)</ion-label>
        <ion-input [(ngModel)]="data.image" name="image" type="url" required></ion-input>
      </ion-item>
      <ion-button routerLink="/admin/home" (click)="submitForm()" expand="block">Enviar</ion-button>
    </form>
  </ng-container>
</ion-content>
